* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
  padding: 2px 5px;
}

#workspaces button {
    padding: 2px 6px;
    margin: 0 1px;
    transition: all 200ms ease-in-out;
    background: #121212;
    color: white;
    border-bottom: 3px solid transparent;
    border-radius: 12px;
}

#workspaces button.active {
  min-width: 40px;
  background: white;
  color: black;
}

#clock {
    background: transparent;
}

#network,
#pulseaudio,
#battery {
    color: white;
    margin: 0 5px;
}
