* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
  padding-right: 5px;
  background: black;
  border-radius: 0 15px 15px 0;
}

.modules-center {
  padding-right: 5px;
  padding-left: 5px;
  background: black;
  border-radius: 15px;
}

.modules-right {
  padding-left: 5px;
  background: black;
  border-radius: 15px 0 0 15px;
}

#workspaces {
  padding: 2px 5px;
  background: #212121;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0 1px;
  transition: all 200ms ease-in-out;
  border-bottom: 3px solid transparent;
}

#workspaces button.active {
  color: white;
}

#clock {
  padding: 0 5px;
  background: transparent;
}

#network,
#pulseaudio,
#battery {
    color: white;
    margin: 0 5px;
}
