@import '../colors/gruvbox.css';

* {
  color: @fg;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: @bg0;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
  border: 0px solid @bg0;
  border-radius: 24px;
  margin: 16px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 6px;
  border-radius: 8px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 1px solid @fg1;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 8px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @bg0 ;
  margin: 6px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @bg0;
  border: 1px solid @fg1;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @bg2;
  color: @fg0;
}

.image {
  margin: 10px;
}

.summary {
  font-weight: 800;
  font-size: 0.9rem;
  color: @fg0;
}

.body {
  font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @bg0;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @bg0;
  color: @fg1;
}

.notification.critical progress {
  background-color: @bg0;
}

.notification.low progress,
.notification.normal progress {
  background-color: @bg0;
}
